:root {
    --primary: white;
}

* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Arial;
    color: var(--primary);
}

body {
    min-height:100px;
    background-image:url(../img/bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position-x:center;
    background-position-y:center;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding: 16px 32px;
    background-color: black;
}

.navbar ul {
    display:flex;
    list-style-type:none;
    gap:40px;
}

#logo {
    font-size:40px;
    text-decoration:none;
}

#logo:hover {
    cursor:pointer;
}

.underline-text {
    text-decoration-color:transparent;
    text-underline-offset:8px;
    transition-property:text-decoration-color;
    transition-duration:1s;
}

.underline-text:hover {
    text-decoration-color:var(--primary);
    transition-property:text-decoration-color;
    transition-duration:1s;
}

.container {
    padding-top: 100px;
    text-align:center;
}

.container h1 {
    color:white;
    font-size:4rem;
    font-weight:700;
    letter-spacing:8px;
    margin-bottom:1rem;
}

.container h2 {
    color:white;
    font-size:3rem;
    font-weight:400;
    font-family:Times New Roman;
}

.image {
    margin-top:1rem;
    margin-bottom:1rem;
}

.container p {
    font-size:2rem;
    color:white;
    line-height:2rem;
    margin-bottom:2rem;
    font-family:Times New Roman;
}

.btn {
    display:inline-block;
    padding: 1.5rem 5rem;
    background-color:cornflowerblue;
    font-size:2rem;
    text-decoration:none;
    border-radius:10px;
    transition: background 0.5s;
    font-family:Times New Roman;
}

.btn:hover {
    background:black;
}